* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
} 
.grid-bg {
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);
  background-size: 60px 60px;
  z-index: 0;
}

body {
  background: radial-gradient( #3e22a5, #050515);
  color: #fff;
  overflow-x: hidden;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
}

.logo {
  font-size: 28px;
  font-weight: 700;
}

.logo span {
  color: #9b7cff;
}


nav{
    position: relative;
    width: 475px;
    height: 50px;
    
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a {
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 0 20px;
    z-index: 1;
}
nav span{
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg, #9f96f0, #eefffc);
    border-radius: 10px;
    transition: 0.5s;
}
nav a:nth-child(1):hover~span{
    left: 0px;
}
nav a:nth-child(2):hover~span{
    left: 90px;
}
nav a:nth-child(3):hover~span{
    left: 180px;
}
nav a:nth-child(4):hover~span{
    left: 275px;
}
nav a:nth-child(5):hover~span{
    left: 380px;
}





.btn-small {
  background: #7f5cff;
  border: none;
  padding: 10px 18px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

/* HERO */
.hero {
  position: relative;
  min-height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}



.content {
  max-width: 900px;
  padding: 40px;
  position: relative;
  z-index: 1;
}

.brand {
  font-size: 64px;
  letter-spacing: 4px;
  margin-bottom: 15px;
  color: #d7d3ff;
}

.tagline {
  font-size: 12px;
  letter-spacing: 1.5px;
  color: #a5a3c9;
  margin-bottom: 25px;
}

h2 {
  font-size: 36px;
  line-height: 1.3;
  margin-bottom: 25px;
}

h2 span {
  color: #9b7cff;
}

.description {
  color: #c9c7e8;
  font-size: 16px;
  margin-bottom: 35px;
}

.btn-main {
  background: transparent;
  border: 1px solid #9b7cff;
  color: #fff;
  padding: 15px 35px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-main:hover {
  background: #9b7cff;
}

/* feature SECTION */
.feature-section {
  padding: 80px 20px;
  position: relative;
}

.feature-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: minmax(180px, auto);
  gap: 20px;
}

/* CARD BASE */
.card {
  background: linear-gradient(180deg, #0c1028, #060818);
  border-radius: 18px;
  padding: 24px;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.05);
}

/* LARGE CARD */
.card-large {
  grid-row: span 2;
  position: relative;
}

.card-text {
  margin-top: 20px;
  font-size: 16px;
}

/* IMAGE PLACEHOLDERS */
.image-placeholder {
  height: 260px;
  background: radial-gradient(circle at top, #2a2f6f, #0a0d22);
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
}

.image-placeholder.small {
  height: 160px;
  margin-top: 15px;
}

/* TEXT */
.card h3 {
  font-size: 26px;
  line-height: 1.4;
}

.card h4 {
  font-size: 16px;
  line-height: 1.4;
}

/* TECH TAGS */
.excape {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  
}

.tech-tags span {
  background: rgba(255,255,255,0.08);
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
}

/* CTA */
.card-cta {
  background: linear-gradient(135deg, #5b2be0, #7a3cff);
}

.card-cta button {
  margin-top: 16px;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background: #0b0520;
  color: #fff;
  cursor: pointer;
}

/* CODE */
.code-card p {
  font-size: 20px;
  margin-bottom: 12px;
  color: #ffffff;
}

.code-placeholder {
  height: 120px;
  background: rgba(255,255,255,0.05);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
}


/* SECTION portfolio*/
.portfolio-section {
  padding: 80px 20px;
  position: relative;
  z-index: 1;
}

.container {
  max-width: 1200px;
  margin: auto;
}

/* TITLE */
.section-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 10px;
}

.section-subtitle {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 60px;
  color: #aaa;
  font-size: 14px;
  line-height: 1.6;
}

/* GRID */
.portfolio-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/* CARD */
.portfolio-card {
  background: linear-gradient(180deg, #0c1028, #060818);
  border-radius: 18px;
  padding: 25px;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.05);
}

/* IMAGE PLACEHOLDER */
.image-box {
  height: 220px;
  border-radius: 12px;
  background: radial-gradient(circle at top, #2a2f6f, #0a0d22);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  font-size: 14px;
  margin-bottom: 20px;
}

/* TEXT */
.portfolio-card h3 {
  font-size: 18px;
  margin-bottom: 6px;
}

.portfolio-card p {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 16px;
}

/* TECH STACK */
.tech-stack {
  display: flex;
  gap: 10px;
}

.tech-stack span {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: rgba(255,255,255,0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  color: #ddd;
}


/* CLIENT REVIEW SECTION */
.testimonial-section {
  position: relative;
  padding: 80px 20px;
  overflow: hidden;
}

/* TITLE */
.section-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
  position: relative;
}

.section-title span {
  color: #b88cff;
}

.cursor {
  animation: blink 1s infinite;
}


/* BLINK */
@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}

/* SLIDER */
.testimonial-wrapper {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

.testimonial-track {
  display: flex;
  gap: 30px;
  animation: scroll 35s linear infinite;
}

/* CARD */
.testimonial-card {
  min-width: 360px;
  background: linear-gradient(180deg, #0c1028, #060818);
  border-radius: 18px;
  padding: 28px;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.06);
}

.testimonial-card p {
  font-size: 15px;
  line-height: 1.6;
  color: #ddd;
  margin-bottom: 22px;
}

/* CLIENT */
.client {
  display: flex;
  align-items: center;
  gap: 14px;
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #fff;
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.client h4 {
  font-size: 14px;
}

.client span {
  font-size: 12px;
  color: #aaa;
}

/* ANIMATION */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* SECTION */


.value-section {
  padding: 90px 20px;
  position: relative;
  overflow: hidden;
}

/* HEADER */
.section-header {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.section-header h2 {
  font-size: 36px;
  margin-bottom: 18px;
}

.highlight {
 
  padding: 4px 12px;
  border-radius: 8px;
  animation: pulse 3s infinite;
}

.section-header p {
  font-size: 14px;
  color: #bbb;
  line-height: 1.7;
}

/* GRID */
.value-grid {
  max-width: 1200px;
  margin: 70px auto 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/* CARD */
.value-card {
  display: flex;
  gap: 20px;
  padding: 28px;
  border-radius: 24px;
  background: linear-gradient(180deg, #0e1334, #070a1f);
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.06);
  position: relative;
  overflow: hidden;
}


/* ICON */
.icon {
  min-width: 56px;
  height: 56px;
  border-radius: 14px;
  background: linear-gradient(135deg, #ff6fd8, #7f5cff);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

/* TEXT */
.value-card h3 {
  font-size: 18px;
  margin-bottom: 6px;
}

.value-card p {
  font-size: 14px;
  color: #aaa;
  line-height: 1.6;
}







.process-section {
  padding: 100px 40px;
  background: radial-gradient( #3e22a5, #050515);
  color: #fff;
}

.process-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

/* CARD */
.process-card {
  height: 360px;
  border-radius: 28px;
  position: relative;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.12);
  overflow: hidden;
  color: #fff;
}

/* STEP BUTTON */
.step-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 26px;
  border-radius: 999px;
  border: 1px solid #b58cff;
  font-size: 14px;
  transition: all 0.3s ease;
}
.process-title{
  text-align: center;
}


/* CONTENT (HIDDEN BY DEFAULT) */
.step-content {
  position: absolute;
  inset: 0;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
}

/* TEXT STYLE */
.step-content h3 {
  font-size: 22px;
  margin-bottom: 14px;
}

.step-content p {
  font-size: 14px;
  line-height: 1.6;
  color: #cfcfcf;
}

/* HOVER EFFECT */
.process-card:hover .step-btn {
  opacity: 0;
  transform: translate(-50%, -60%);
}

.process-card:hover .step-content {
  opacity: 1;
  transform: translateY(0);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
  h2 {
    font-size: 26px;
  }

  .navbar nav {
    display: none;
  }
  .portfolio-grid {
    grid-template-columns: 1fr;
  }


  .feature-grid {
    grid-template-columns: 1fr;
  }

  .card-large {
    grid-row: span 1;
  }


  .testimonial-card {
    min-width: 280px;
  }

  .section-title {
    font-size: 28px;
  }

  .process-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .process-card {
    height: 300px;
  }

  .process-title {
    font-size: 30px;
  }

  .process-grid {
    grid-template-columns: 1fr;
  }
}
