* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: radial-gradient( #3e22a5, #050515);
  color: #fff;
  overflow-x: hidden;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
}

.logo {
  font-size: 28px;
  font-weight: 700;
}

.logo span {
  color: #9b7cff;
}

/* .navbar a {
  margin: 0 15px;
  color: #cfcfe8;
  text-decoration: none;
  font-size: 14px;
} */
nav{
    position: relative;
    width: 475px;
    height: 50px;
    
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a {
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 0 20px;
    z-index: 1;
}
nav span{
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg, #9f96f0, #eefffc);
    border-radius: 10px;
    transition: 0.5s;
}
nav a:nth-child(1):hover~span{
    left: 0px;
}
nav a:nth-child(2):hover~span{
    left: 90px;
}
nav a:nth-child(3):hover~span{
    left: 180px;
}
nav a:nth-child(4):hover~span{
    left: 275px;
}
nav a:nth-child(5):hover~span{
    left: 380px;
}



/* .btn-nav {
  background: transparent;
  border: 1px solid #9b7cff;
  color: #fff;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-nav:hover {
  background: #cec4ec;
  color:#000000
}  */

.btn-small {
  background: #7f5cff;
  border: none;
  padding: 10px 18px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

/* HERO */
.hero {
  position: relative;
  min-height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.grid-bg {
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);
  background-size: 60px 60px;
  z-index: 0;
}

.content {
  max-width: 900px;
  padding: 40px;
  position: relative;
  z-index: 1;
}

.brand {
  font-size: 64px;
  letter-spacing: 4px;
  margin-bottom: 15px;
  color: #d7d3ff;
}

.tagline {
  font-size: 12px;
  letter-spacing: 1.5px;
  color: #a5a3c9;
  margin-bottom: 25px;
}

h2 {
  font-size: 36px;
  line-height: 1.3;
  margin-bottom: 25px;
}

h2 span {
  color: #9b7cff;
}

.description {
  color: #c9c7e8;
  font-size: 16px;
  margin-bottom: 35px;
}

.btn-main {
  background: transparent;
  border: 1px solid #9b7cff;
  color: #fff;
  padding: 15px 35px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-main:hover {
  background: #9b7cff;
}


/* RESPONSIVE */
@media (max-width: 768px) {
  h2 {
    font-size: 26px;
  }

  .navbar nav {
    display: none;
  }
}
